@use 'fields';

.dates-form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
}

.field__input {
  color-scheme: dark;

  &::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
    cursor: pointer;
  }
}
