<div class="cmd-form" [formGroup]="form">

  <div class="cmd-form__row">

    <div class="field">
      <span class="field__label" id="ca-speaker-label">
        {{ 'editor.newsScript.commandEditor.fields.speaker' | transloco }}
      </span>
      <div class="speaker-picker" role="radiogroup" aria-labelledby="ca-speaker-label">
        @for (idol of idolValues; track idol) {
          <label [class]="'speaker-picker__option speaker-picker__option--' + idol">
            <input type="radio" class="speaker-picker__input" [value]="idol" formControlName="Speaker" />
            <span class="speaker-picker__label">
              {{ 'editor.newsScript.commandEditor.speakers.' + idol | transloco }}
            </span>
          </label>
        }
      </div>
    </div>

    <div class="field">
      <label class="field__label" for="ca-emotion">
        {{ 'editor.newsScript.commandEditor.fields.emotion' | transloco }}
      </label>
      <select id="ca-emotion" class="field__select" formControlName="Emotion">
        @for (emotion of emotionValues; track emotion) {
          <option [value]="emotion">
            {{ 'editor.newsScript.commandEditor.emotions.' + emotion | transloco }}
          </option>
        }
      </select>
    </div>

  </div>

</div>
