@use 'fields';

.general-form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: 100%;
}

.field__input {
  appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 0.4;
  }
}
